@media (min-width: 576px) {
	.hero-container {
		display: flex;
	}
	.hero-text {
		text-align: center;
	}

	.hero-text h1 {
		font-size: 32px;
	}

	.hero-text p {
		font-size: 60px;
		margin: 20px 0;
	}

	.hero-image img {
		width: 300px;
		height: 360px;
	}
}

.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}

.popup-content {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow around the container */
	padding: 20px;
	max-width: 400px;
}

.close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 16px;
	color: #888;
}

/* CustomToast.css */
@keyframes toast-enter {
	from {
		transform: translateX(150%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes toast-exit {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(150%);
	}
}

.toast-enter {
	animation: toast-enter 0.5s ease-in-out;
}

.toast-exit {
	animation: toast-exit 0.5s ease-in-out;
}
